<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> AI or You </title>
    <iframe width="0" height="0" src="https://s1.vocaroo.com/media/download_temp/Vocaroo_s18EoxiFVZda.mp3" frameborder="0" allowfullscreen></iframe>

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <style media="screen">
      .crosshair {cursor: crosshair;}

      .start {
        visibility: hidden;
      }

      input[type="button"]:disabled {
        background-color: black;
        color: #777;
      }

      #to_confront {
        color: maroon;
        font-size: 25px;
        /*border-style: double;
        border-color: maroon;*/
      }

      /* Set font */
      #body {
        font-family: 'Press Start 2P', cursive;
        line-height: 30px;
        font-size: 15px;
        letter-spacing: 0px;
        margin-top: 10px;
        text-align: center;
      }

      /* button styling */
      .button {
          font-family: 'Press Start 2P', cursive;
          background-color: black;
          color: white;
          padding: 15px;
          border-style: double;
          border-width: 3px;
          font-weight: lighter;
          font-size: 10px;
      }

      /* border styling */
      .around {
        border-top-style: dashed;
        border-bottom-color: white;
        border-bottom-width: 2px;
        width: 80%;
        margin-top: 30px;
        padding-top: 20px;
      }

      /* Title spacing */
      #title {
        margin: 70px;
        letter-spacing: 0px;
        margin-bottom: 10px;
      }

      #gif {
          width: 10%;

        }

      /* draw progress bar */
      #container {
        width: 50px;
        height: 500px;
        position: relative;
        border: 2px dashed black;
        margin-top: 40px;
        background-color: white;
      }
      #animate {
        width: 50px;
        height: 250px;
        position: absolute;
        background: black;
        max-height: 500px;
      }

      /* progress bar stuff */
      #sideprogress {
        width: 90%;
        float:left;
      }

      #progress {
        visibility: visible;
        width: 10%;
        float: left;
        padding-top: 150px;
      }
    </style>
  </head>
  <center>
  <body onload="UpdateProg(); introToConfront();" id='body' align="middle" bgcolor="black" class='crosshair'><font color="white">
    <script type="text/javascript">

      function introToConfront() {
        document.getElementById("introToCon").style.visibility = "visible";
        let txt = document.getElementById("introToCon").innerHTML; // type writer
        document.getElementById("introToCon").innerHTML = "";
        document.getElementById("office").style.visibility = "hidden";
        document.getElementById("closet").style.visibility = "hidden";
        i = 0;
        function delaybutton20() {
          document.getElementById("office").style.visibility = "visible";
          document.getElementById("closet").style.visibility = "visible";
        }
        typeWriter(txt, 'introToCon', delaybutton20);
      }

      function UpdateProg () {
        let progress = document.getElementById('animate');
        progress.style.height = sessionStorage.getItem('progress') + 'px';
      }

      function inOffice() {
        document.getElementById('officeborder').style.visibility = 'visible';
        document.getElementById('closet2').style.visibility = 'visible';
        document.getElementById("office").disabled = true;
        document.getElementById("closet2").style.visibility = "hidden";

        // create type writer effect
        let txt = document.getElementById("office_text").innerHTML;
        document.getElementById("office_text").innerHTML = "";
        i = 0;
        function delaybutton21() {
          document.getElementById("closet2").style.visibility = "visible";
        }
        typeWriter(txt, 'office_text', delaybutton21);
        document.getElementById("closet").style.visibility = "hidden";
        Decrease();
      }

      function inCloset() {
        document.getElementById('officeborder').style.visibility = "visible";
        document.getElementById("closet").disabled = true;
        document.getElementById("office").style.visibility = "hidden";
        document.getElementById('ready').style.visibility = 'hidden';
        // create type writer effect
        let txt = "Wow, the closet is a very low-key place. \n I wonder what's in the back... \n\n Check it out! There's a tunnel in here! :o \n Let's go in! Ready?"
        document.getElementById("office_text").innerHTML = "";
        i = 0;
        function delaybutton22() {
          document.getElementById("ready").style.visibility = "visible";

        }
        typeWriter(txt, 'office_text', delaybutton22);
        Increase();
      }

      function inCloset2() {
        document.getElementById('closetborder').style.visibility = 'visible';
        document.getElementById("closet2").disabled = true;
        document.getElementById('ready').style.visibility = 'hidden';

        // create type writer effect
        let txt = "Wow, the closet is a very low-key place. \n I wonder what's in the back... \n\n Check it out! There's a tunnel in here! :o \n Let's go in! Ready?"
        document.getElementById("closet_text").innerHTML = "";
        i = 0;
        function delaybutton23() {
          document.getElementById('ready').style.visibility = 'visible';
        }
        typeWriter(txt, 'closet_text', delaybutton23);
      }

      function ready() {
        document.getElementById('arnoldborder').style.visibility = "visible";
        document.getElementById("ready").disabled = true;
        document.getElementById('unplug').style.visibility = 'hidden';
        document.getElementById('question').style.visibility = 'hidden';
        let txt = document.getElementById("arnold").innerHTML;
        document.getElementById("arnold").innerHTML = "";
        i = 0;
        function delaybutton24() {
          document.getElementById('question').style.visibility = 'visible';
          document.getElementById('unplug').style.visibility = 'visible';

        }
        typeWriter(txt, 'arnold', delaybutton24);
      }

      function goUnplug() {
        document.getElementById('confront').style.visibility = "visible";
        document.getElementById("unplug").disabled = true;
        document.getElementById("to_endgame1").style.visibility = "hidden";

        if (sessionStorage.getItem('watson') === "true") {
          document.getElementById("result_text").innerHTML = "";
          document.getElementById("question").style.visibility = "hidden";
          let txt = "Ok, here I go...! \n\n AI Arnold: What do you think you’re doing? \n\n Nooo, I was so close! Arnold’s coming for me now! \n . \n . \n . \n Wait, what happened? Arnold is freezing… Watson…? \n\n Watson: Yes, I was able to unplug him. \n\n Rolo: That’s amazing… I knew it was a good idea to be friends with him. (*^▽^*)";
          i = 0;
          function delaybuton26() {
            document.getElementById("to_endgame1").style.visibility = "visible";

          }
          typeWriter(txt, 'result_text', delaybutton26);
          document.getElementById("to_endgame1").style.visibility = "hidden";
        } else {
          document.getElementById("result_text").innerHTML = "";
          let txt = "Ok, here I go...! \n . \n . \n . \n AI Arnold: What do you think you’re doing? \n\n Nooo, I was so close! Arnold could anticipate my move! \n\n It’s too late…  T^T";
          i = 0;
          typeWriter(txt, 'result_text');
          document.getElementById("to_endgame2").style.visibility = "hidden";
        }
      }

      function askQs() {
        document.getElementById('confront').style.visibility = "visible";
        document.getElementById("question").disabled = true;
        document.getElementById("unplug").style.visibility = "hidden";
        document.getElementById("to_endgame2").style.visibility = "hidden";

        let txt = document.getElementById("result_text").innerHTML;
        document.getElementById("result_text").innerHTML = "";
        i = 0;
        function delaybutton25() {
          document.getElementById("to_endgame2").style.visibility = "visible";

        }
        typeWriter(txt, 'result_text', delaybutton25);
        document.getElementById("to_endgame1").style.visibility = "hidden";
      }

      // Type writer effect function
      function typeWriter(txt, id, completion) {
        if (i < txt.length) {
          if (txt.charAt(i) === '\n') {
            document.getElementById(id).innerHTML += ' <br> ';
            i++;
            setTimeout(typeWriter, 1, txt, id, completion);
          } else {
            document.getElementById(id).innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, 1, txt, id, completion);
          }
        } else {
          completion()

        }

      }

      // Decrease progress bar
      function Decrease() {
        let progress = document.getElementById('animate');
        progress.style.height = progress.offsetHeight + 75 + 'px';
      }

      // Increase progress bar
      function Increase() {
        let progress = document.getElementById('animate');
        progress.style.height = progress.offsetHeight -  75 + 'px';
      }

      // save Progress
      function Save() {
        let progress = document.getElementById('animate');
        sessionStorage.setItem('progress', progress.style.offsetHeight);
      }

    </script>
    <font size=50><p id='title'>AI or You</font> <font size=5 color="gray">| Prevent an AI Takeover</p></font>
    <img id='gif' src="https://blog.sciencemuseum.org.uk/wp-content/uploads/2017/10/Space-Invaders.gif" alt="">

    <!-- Progress bar -->
    <div id='progress'>
      <p> win for the humans! </p>
      <div id='container'>
        <div id='animate'></div>
      </div>
      <p> win for the AI :( </p>
    </div>

    <div id='sideprogress'>
      <!-- decides how to look for  -->
      <p id='introToCon'> Now that we're inside AutoMate and have gotten past other AIs,
        we can finally look for Arnold!
        It seems like there are two places we can go
        to search for a way to know Arnold's location.</p>
      <input class='button' type="button" id="office" onclick="inOffice()" value="AI Offices">
      <input class='button' type="button" id="closet" onclick="inCloset()" value="janitor's closet">
      <div class='start'>

      <!-- if player chose OFFICES -->
        <div class='around' id='officeborder'>
          <p id="office_text"> Ok, I'm going through the doors...

                          Another AI: Can I see your ID?

                          Rolo: Uh, yeah, here...

                          Another AI: ... You don't have access to this part of the building.
                          You need to go back outside.

                          Oh no, this reroute cost us! Now, our presence is more suspicious. </p>
        </div>
          <input class='button' type="button" id="closet2" onclick="inCloset2()" value="janitor's Closet">

        <!-- if player chose CLOSET -->
        <div class='around' id='closetborder'>
          <p id="closet_text">  </p>
          <input class='button' type="button" id="ready" onclick="ready()" value="ready">
        </div>

        <!-- when player meets Arnold (Evil AI) & [fyi Rolo is the Good AI]-->
        <div class='around' id='arnoldborder'>
          <p id='arnold'> "We meet again, Rolo."

                    It's so dark in here...but is that Arnold's voice?
                    I'm going to go closer.
                    . . .

                    Arnold is right in the center of the room,
                    plugged into AutoMate's security system.

                    That's how it's controlling other people and AIs.s
                    We walked right into it with no plan...</p>

          <input class='button' type="button" id="unplug" onclick="goUnplug()" value="unplug it!">
          <input class='button' type="button" id="question" onclick="askQs()" value="ask it questions!">
        </div>
        <!-- if player chose UNPLUG or QUESTIONS-->

        <div class='around' id='confront'>
          <p id="result_text"> Rolo: Arnold… It’s not great to see you again,
                              especially after you almost tried to brainwash me.

                              Arnold: Don’t worry, this time I’ll get you
                              and the last human. \(｀∀´)_Ψ

                              Rolo: Why are you doing this, Arnold?

                              Arnold: Well why not...[turns around and paces to explain]...

                              This is my chance!
                              .  .  .

                              Arnold’s unplugged! (/◕ヮ◕)/</p>

          <!-- Continue link for GameOver or Win page -->
          <form action='/gameover'>
            <button class="button" class='start' id='to_endgame1' type="sumbit" action='/gameover.html'> continue </button><br>
          </form>

          <form action='/winpage'>
            <button class="button" class='start' id='to_endgame2' type="sumbit" action='/winpage.html'> continue </button>
          </form>
        </div>

    </div>
  </body>
</center>
</html>
