<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> AI or You </title>

  <!-- CSS Styles -->
  <style>



  </style>
</head>
<center><body valign="middle" bgcolor="black"><font color="white" face="courier new">
    <script type='text/javascript'>

    </script>

    <!-- this is the intro to the game: made the button and text for player name -->
    <div class="introblock">
    <font size=50><p>AI or You </font> <font size=5>| Prevent AI takeover</p></font>


    </div>
    </form>

</font>
</body></center>
</html>
