<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> AI or You </title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <style media="screen">
      .start {
        visibility: hidden;
      }

      input[type="button"]:disabled {
        background-color: #ddd;
        color: #777;
      }

      #to_confront {
        color: maroon;
        font-size: 25px;
        /*border-style: double;
        border-color: maroon;*/
      }

      /* body styling */
      #body {
        font-family: 'Press Start 2P', cursive;
        line-height: 30px;
        font-size: 15px;
        letter-spacing: 0px;
        margin-top: 10px;
      }

    </style>
  </head>
  <body id='body' align="middle" bgcolor="black"><font color="white">
    <script type="text/javascript">

      function driveCar() {
        document.getElementById("car").disabled = true;
        document.getElementById("hoverboard").style.visibility = "hidden";
        document.getElementById("car_text").style.visibility = "visible";
        document.getElementById("go").style.visibility = "visible";

      }

      function useHoverboard() {
        document.getElementById("hoverboard").disabled = true;
        document.getElementById("car").style.visibility = "hidden";
        document.getElementById("car_text").style.visibility = "visible";
        document.getElementById("car_text").innerHTML = "<br>Uh-oh, using the mind-reading tech <br> in the hoverboard means that we are compromising more of our data <br>to AI-Arnold. This puts us at more risk of it finding us! <br> So let's hurry!";
        document.getElementById("go").style.visibility = "visible";
      }

      function go() {
        document.getElementById("go").disabled = true;
        document.getElementById("enter").style.visibility = "visible";
        document.getElementById("front").style.visibility = "visible";
        document.getElementById("ai").style.visibility = "visible";
      }

      function useFront() {
        document.getElementById("front").disabled = true;
        document.getElementById("ai").style.visibility = "hidden";
        document.getElementById("front_text").style.visibility = "visible";
        document.getElementById("door").style.visibility = "visible";
      }

      function useBack() {
        document.getElementById("ai").disabled = true;
        document.getElementById("front").style.visibility = "hidden";
        document.getElementById("front_text").style.visibility = "visible";
        document.getElementById("front_text").innerHTML = "<br> This is good; I was able to blend in with the other AIs <br> and we didn't attract much attention. The art of subtlety!";
        document.getElementById("door").style.visibility = "visible";
      }

      function door() {
        document.getElementById("door").disabled = true;
        document.getElementById("watson").style.visibility = "visible";
        document.getElementById("no_trust").style.visibility = "visible";
        document.getElementById("trust").style.visibility = "visible";
      }

      function noTrust() {
        document.getElementById("no_trust").disabled = true;
        document.getElementById("trust").style.visibility = "hidden";
        document.getElementById("no_trust_text").style.visibility = "visible";
        document.getElementById("to_confront").style.visibility = "visible";
        let watson_help = false;
        document.getElementById("w_help1").value = false;

        //document.getElementById("test").innerHTML = watson_help;
      }

      function trust() {
        document.getElementById("trust").disabled = true;
        document.getElementById("no_trust").style.visibility = "hidden";
        document.getElementById("trust_text").style.visibility = "visible";
        document.getElementById("to_confront").style.visibility = "visible";
        let watson_help = true;
        document.getElementById("w_help1").value = true;

        //document.getElementById("test").innerHTML = watson_help;
      }

    </script>
    <font size=50><p>AI or You </font> <font size=5>| Prevent AI Takeover</p></font>
<!-- player decides how to get to AutoMate building -->
    <p><br> Ok, we don't have a lot of time! <br>
        First we need to get to the AutoMate building where Arnold was created. <br>
        It's pretty far, and we have two ways to get there.</p>
    <input type="button" id="car" onclick="driveCar()" value="self-driving car with gps system">
    <input type="button" id="hoverboard" onclick="useHoverboard()" value="hoverboard you control with your mind">
    <div class='start'>

      <!-- if player chose CAR -->
      <p id="car_text"> <br> Good choice. The self-driving car had the route to AutoMate, <br>
                      and we didn't need to compromise any more data to AI-Arnold. <br>
                      Now, let's go! :D</p>

      <!-- if player chose HOVERBOARD -->
      <p id="board_text">  </p>

      <input type="button" id="go" onclick="go()" value="keep going">

<!-- decides which entrance to use -->
      <p id='enter'> <br> Nice, we're right outside of AutoMate right now. <br>
                    Our goal is be as subtle as possible and enter the building. </p>
      <input type="button" id="front" onclick="useFront()" value="front entrance">
      <input type="button" id="ai" onclick="useBack()" value="AI entrance">

      <!-- if player chose FRONT -->
      <p id="front_text"> <br> Security: What's your ID, AI? <br>
                        Rolo: ...uh, I'm Rolo...and here's my ID <br>
                        Security: I'm going to need you to come inside through <br>
                        the entrance for AIs. <br>
                        ... <br>
                        Looks like we just attracted more attention to our operation :|</p>

      <!-- if player chose AI DOOR -->
      <p id="ai_text">  </p>

      <input type="button" id="door" onclick="door()" value="keep going">

<!-- meeting watson decisons -->
      <p id='watson'><br> I see something coming towards us. <br><br>
                    Watson: Hi, my name is Wat-son. <br><br>
                    Oh, another AI! It might be worth it to befriend it, <br>
                    but Arnold has a lot of control on the AIs and humans. <br>
                    There's a chance that Watson could be a spy. <br> What should I do?</p>

      <input type="button" id="no_trust" onclick="noTrust()" value="don't trust Watson">
      <input type="button" id="trust" onclick="trust()" value="talk to Watson">

      <!-- if player chose DON'T TRUST -->
      <p id="no_trust_text"> Rolo: Goodbye, Watson... <br><br>
                            Ok, let's keep going. </p>

      <!-- if player chose TRUST -->
      <p id="trust_text"> Rolo: Hi, I'm Rolo. Can you help us?<br><br>
                        Watson: What do you want to know? <br><br>
                        Rolo: We're looking for...the main room of this building. <br><br>
                        Watson: You can go through this door and look around. <br><br>
                        Rolo: Ok, thanks. ;)</p>

    </div>

  <!-- Continue link to /Confront page-->
    <p><a class="start" id="to_confront" href="/confront">Continue...</a></p>

      <form class="" action="index.html" method="post" style="visibility:hidden">
        <input type="text" id="w_help1" name="w_help" value="">
      </form>

  </body>
<center>
</center>
</html>
