<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> AI or You </title>

  <!-- CSS Styles -->
  <style>
  .start {
    visibility: hidden;
  }

  #around {
    border-style: dotted;
    border-width: 3px;
    padding: 10px;
    width: 40%;
    border-color: white;
  }

  </style>
</head>
<center>
  <body id='body' valign="middle" bgcolor='black'><font color="white" face="courier new">
    <script type='text/javascript' >
      // make button disapear

      //{% if playerName != "" %}
        //<p id="playerName"> {{playerName}}</p>
      //{% endif %}

      function Specific() {
        document.getElementById("chicken").style.visibility = "visible";
        document.getElementById("specific").style.visibility = "visible";
        document.getElementById("chickdiv").style.visibility = "visible";
      }

      function Interrupt() {
        document.getElementById("specific").style.visibility = "visible";
        document.getElementById("interrupt").style.visibility = "visible";
        document.getElementById("ontime").style.visibility = "visible";
        document.getElementById("explain").style.visibility = "visible";
        document.getElementById("intdiv").style.visibility = "visible";
      }

      function Explain() {
        document.getElementById("introduce").style.visibility = "visible";
        document.getElementById("whyme").style.visibility = "visible";
        document.getElementById("imin").style.visibility = "visible";
      }

      function Protagonist() {
        document.getElementById('mission').innerHTML = 'Because you\'re the last human that isn\'t controlled by AI! <br> You need to save yourself and the rest of the world!'
        document.getElementById('mission').style.visibility = "visible";
        document.getElementById("imin").style.visibility = "hidden";
        document.getElementById("missdiv").style.visibility = "visible";
        document.getElementById("continue").style.visibility = "visible";
      }

      function Great() {
        document.getElementById('mission').innerHTML = "I knew you'd say that! Let's get started! <br> ";
        document.getElementById('mission').style.visibility = "visible";
        document.getElementById("whyme").style.visibility = "hidden";
        document.getElementById("missdiv").style.visibility = "visible";
        document.getElementById("continue").style.visibility = "visible";
      }
    </script>

    <!-- Ai asks user for location -->
    <p> where are you right now? </p>
    <input type="button" onclick="Specific()" value="why do you want to know?">
    <input type="button" onclick="Specific()" value="location">
    <p> ====================================================================== </p>

    <div class='start'>

      <!-- Ai asks to be specific -->
      <p id='chicken'> please be more specific </p>
      <input type="button" id="specific" onclick="setTimeout(Interrupt, 100)" value="who are you?">
      <p id='chickdiv'> ====================================================================== </p>

      <!-- Transmission is interrupted -->
      <p id='interrupt'> *the transmission has been interrupted* </p>
      <p id='ontime'> I'm so glad I got to you on time! You're my only hope! </p>
      <input type="button" id="explain" onclick="Explain()" value="what's going on?">
      <p id='intdiv'> ====================================================================== </p>

      <!-- Good AI explains plot to the user -->
      <p id='introduce'> I forgot to introduce myself! My name is _____ and I'm a form of <br> artificial intelligence.
        Ever since the boom of techology, <br> AI has been collecting information about humans
        and are soon <br> ready to execute their plan. They'll destroy the planet if we <br> don't stop
        them! I need your help, please! <br> I was lucky to get away from them the first time </p>
      <input type="button" id="whyme" onclick="Protagonist()" value="why me?">
      <input type="button" id="imin" onclick="Great()" value="I'm in!">
      <p id='missdiv'> ====================================================================== </p>

      <!-- This response depends on what the user chooses above -->
      <p id='mission'> </p>
      <button id='continue' type="sumbit" action='/entrance'> continue </button>
    </div>

      </font>
    </body>
  </center>
</html>
