<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> AI or You </title>

  <style media="screen">
    #playButton {
      background-color: lightgray;
      padding: 15px 30px;
      text-align: center;
      font-size: 20px;
      border-style: solid;
      border-color: maroon;
      border-width: thick;
      align: right;
    }
    #playButton:hover {
      font-size: 30px;
    }


  }
  </style>
  </head>
  <body onload="beginning()">
    <!-- function for button and text-->
    <script type='text/javascript'>

    function beginning(){
      document.getElementById("player_name").style.visibility = "hidden";
    }

    function startGame() {
      document.getElementById("start").innerHTML = "What is your name?";
      document.getElementById("playButton").style.visibility = "hidden";
      document.getElementById("player_name").style.visibility = "visible";
    }



    </script>
    <a href="/entrance">Option 1</a>
    <a href="#"></a>
    <h1>AI or You</h1>
    <h3>Prevent AI takeover - a text-based game</h3>

    <!-- this is the intro to the game: made the button and text for player name -->
    <p id="start">Click on the button to start the game</p>
    <input type="button" id="playButton" onclick="startGame()" value="Play">
    <input type="text" id="player_name" value="">
    <input type="submit" id="" value="submit">


    <p id="playerName"> {{playerName}}</p>
  </body>
</html>
